<p id="notice"><%= render 'layouts/flash_message' %></p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Wishlist</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li class="active">
        <strong>Wishlist</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
   <div class="col-lg-12">
     <div class="ibox float-e-margins">
      <div class="ibox-content">
        <button type="button" class="btn btn-success" id="add_wishlist_button" data-toggle="modal" data-target="#addWishlistModal">Pridaj novú knihu do wishlistu</button> 
        <button type="button" class="btn btn-primary" id="update_martinus_button">Aktualizuj info z Martinusu</button>
        
        <hr>
         <div id="spinner_box" style="display:none">
           <div class="bookshelf_wrapper">
  <ul class="books_list">
    <li class="book_item first"></li>
    <li class="book_item second"></li>
    <li class="book_item third"></li>
    <li class="book_item fourth"></li>
    <li class="book_item fifth"></li>
    <li class="book_item sixth"></li>
  </ul>
  <div class="shelf"></div>
</div>
                </div>
        <div class="table-responsive main-box">
          <table class="table table-bordered" id="wishlists" style="width:100%">
  <thead>
    <tr>
      <th>Obrázok</th>
      <th>Názov</th>
      <th>Autor</th>
      <th>Vydavateľ</th>
      <th>Rok vydania</th>
      <th>Martinus url</th>
      <th>Poznámka</th>
      <th>Počet strán</th>
      <th>Cena</th>
      <th>Očakávaný dátum vydania</th>
      <th>Vložil</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wishlists.each do |wishlist| %>
      <tr>
        <td><%= image_tag wishlist.image_url if wishlist.image_url.present? %></td>
        <td><%= wishlist.name %></td>
        <td><%= wishlist.author.name if wishlist.author.present? %></td>
        <td><%= wishlist.publisher.name if wishlist.publisher.present? %></td>
        <td><%= wishlist.publish_year %></td>
        <td><%= wishlist.martinus_url %></td>
        <td><%= wishlist.note %></td>
        <td><%= wishlist.pages %></td>
        <td><%= wishlist.price %></td>
        <td><%= wishlist.expected_release %></td>
        <td><%= wishlist.user.name if wishlist.user.present? %></td>
          <td><a class="edit_wishlist_table_btn" data-toggle="modal" data-target="#editWishlistModal"><i id="<%=wishlist.id%>" class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a></td>
        <td><%= link_to  wishlist, method: :delete, data: { confirm: 'Naozaj ju chceš zmazať?' } do %><i class="fa fa-trash-o fa-2x" aria-hidden="true" ></i>  
                <% end %></td>
        </tr>
    <% end %>
  </tbody>
 </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br>

<div id="addWishlistModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Pridaj knihu </h2>
       
      </div>
      <div class="modal-body">
        <div class="alert alert-danger noborders">
   Aspoň jedno z polí vyznačených na červeno je povinné
  </div>
        <div class="form-group has-error">
            <label>Názov:</label><input type="text" name="wishlistname" id="wishlistname" class="form-control" placeholder="Názov" /><br>
            <label>Martinus URL:</label><input type="text" name="martinus_url" id="martinus_url" class="form-control" placeholder="URL" /><br>
            
            </div>
            <label>Autor:</label><%= select_tag 'author', options_from_collection_for_select(@authors, 'id', 'name'), class: 'form-control', id: 'author',prompt: "--vyber autora--" %><br>
             <label>Vydavateľ:</label><%= select_tag 'publisher', options_from_collection_for_select(@publishers, 'id', 'name'), class: 'form-control', id: 'publisher',prompt: "--vyber vydavateľa--" %><br>
            <label>Rok vydania:</label><input type="number" name="publish_year" id="publish_year" class="form-control" placeholder="Zadaj rok" /><br>
           <label>Poznámka:</label><input type="text" name="note" id="note" class="form-control" placeholder="Názov" /><br>
           
           
       
       <button id="addwishlistconfirm" type="button" class="addwishlist btn btn-success">Pridaj</button>
 
   </div>
 </div>
</div>
</div>

<div id="editWishlistModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Uprav knihu </h2>
       
      </div>
      <div class="modal-body">
        <div class="alert alert-danger noborders">
   Aspoň jedno z polí vyznačených na červeno je povinné
  </div>
        <div class="form-group has-error">
           <input style="visibility:hidden" type="text" name="editwishlistID" id="editwishlistID" value="" readonly>
             <label>Názov:</label><input type="text" name="edit_wishlistname" id="edit_wishlistname" class="form-control" placeholder="Názov" /><br>
             <label>Martinus URL:</label><input type="text" name="edit_martinus_url" id="edit_martinus_url" class="form-control" placeholder="URL" /><br>
            </div>
             <label>Autor:</label><%= select_tag 'edit_author', options_from_collection_for_select(@authors, 'id', 'name'), class: 'form-control', id: 'edit_author',prompt: "--vyber autora--" %><br>
             <label>Vydavateľ:</label><%= select_tag 'edit_publisher', options_from_collection_for_select(@publishers, 'id', 'name'), class: 'form-control', id: 'edit_publisher',prompt: "--vyber vydavateľa--" %><br>
            <label>Rok vydania:</label><input type="number" name="edit_publish_year" id="edit_publish_year" class="form-control" placeholder="Zadaj rok" /><br>
           <label>Poznámka:</label><input type="text" name="edit_note" id="edit_note" class="form-control" placeholder="Názov" /><br>
           
           
           
           
       
       <button id="editwishlistconfirm" type="button" class="editwishlist btn btn-success">Uprav</button>
 
   </div>
 </div>
</div>
</div>

<script>
var wishlisttable;

var tableready = function() {



$('#update_martinus_button').on('click',function(event){
     
         $("#spinner_box").removeAttr("style");
        $("#main_box").addClass('ibox-content sk-loading');

$('#wishlists').hide();
$('#loader').show();         
 $.ajax({
  type: "POST",
  url: "/update_from_martinus",
  success:function(data) {
     if (data.status =="ok") {
       $("#main_box").removeClass('ibox-content sk-loading');
        $("#spinner_box").css({"display": "none"});  
      alert( "Dáta boli aktualizované");
      location.reload();
    }
    else {
     alert( "Nepodarilo sa aktualizovat dáta");
      location.reload(); 
    }
  
},
 error: function(msg){
   $("#main_box").removeClass('ibox-content sk-loading');
        $("#spinner_box").css({"display": "none"});
              alert("Nepodarilo sa stiahnuť údaje z martinus.sk");
            } 


    });


})

 wishlisttable= $('#wishlists').DataTable({
  'order': [2, 'desc'],
  'serverSide': false,
  'stateSave' :true,
  'dom': 'lfr<"pull-right"B>tip',
  'buttons': [
  {"extend" : 'copyHtml5',"text":"Copy","className": 'btn btn-default btn-xs'},
  {"extend" : 'excelHtml5',"text": "XLS","className": 'btn btn-default btn-xs'},
  {"extend" : 'csvHtml5',"text": "CSV","className": 'btn btn-default btn-xs'},

  {
    text: 'TXT',
    extend: 'csvHtml5',
    fieldSeparator: '\t',
    extension: '.txt',
    "className": 'btn btn-default btn-xs'
  },
  {"extend" : 'pdfHtml5',"text": "PDF","className": 'btn btn-default btn-xs'},

  ],
  'language': {
        'url': '/datatables_slovak.json'
      },
  'lengthMenu': [
  [10, 50,100, -1],
  [10, 50,100, "All"]
  ]

});

 $('.edit_wishlist_table_btn').on('click',function(event){

  //$wishlist_id=event.target.id;
  $wishlist_id = event.target.id;
$("#editwishlistID").val($wishlist_id);
   $.ajax({
            type: "GET",
            url: "/wishlists/"+$wishlist_id+".json",
           
            success:function(data){
             
             // console.log(data);
                                 
             $("#edit_wishlistname").val(data.name); 
             if (data.author_id !== null) { $("#edit_author").val(data.author_id); }
             if (data.publisher_id !== null) { $("#edit_publisher").val(data.publisher_id); }
             $("#edit_publish_year").val(data.publish_year); 
             $("#edit_note").val(data.note); 
             $("#edit_martinus_url").val(data.martinus_url); 
              


            },
            error: function(msg){
              alert(msg);
            }
          });


 });


$('.editwishlist').on('click',function(event){
          //console.log(event.target.id);
          
          $wishlist_id = $("#editwishlistID").val();
          $name = $('#edit_wishlistname').val();
          $author = $('#edit_author').val();
          $publisher = $('#edit_publisher').val();
          $publish_year = $('#edit_publish_year').val();
          $note = $('#edit_note').val();
          $martinus_url = $("#edit_martinus_url").val(); 
         

              $.ajax({
            type: "POST",
            url: "/modal_edit_wishlist",
             data: {
              wishlistID: $wishlist_id,
              name: $name,
              author: $author,
              publisher: $publisher,
              publish_year: $publish_year,
              note: $note,
              martinus_url: $martinus_url

            },
         

            success:function(data){
              if (data.status == "ok")
              {
                alert("Záznam vo wishliste bol upravený" );
                location.reload();
              }
              else { alert("Error");}


            }
          });
          



        });

$('.addwishlist').on('click',function(event){
          //console.log(event.target.id);
          
          $name = $('#wishlistname').val();
          $author = $('#author').val();
          $publisher = $('#publisher').val();
          $publish_year = $('#publish_year').val();
          $note = $('#note').val();
          $martinus_url = $("#martinus_url").val(); 
                  

              $.ajax({
            type: "POST",
            url: "/modal_create_wishlist",
            data: {
              name: $name,
              author: $author,
              publisher: $publisher,
              publish_year: $publish_year,
              note: $note,
              martinus_url: $martinus_url

             },

            success:function(data){
              if (data.status == "ok")
              {
                alert("Záznam vo wishliste bol vytvorený" );
                location.reload();
              }
              else { alert(data.status);}


            }
          });
          



        });


};
$(".wishlists.index").ready(tableready);


document.addEventListener('turbolinks:before-cache', function() {
 if ($('#wishlists_wrapper').length ==1) {wishlisttable.destroy() ;} 

});


$(".wishlists.index").on('turbolinks:load', tableready); 
</script>