 <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> 
                          
                          
                         
                          <span>
                          <img class="center img-responsive img-circle" src="<%= asset_path( 'user-avatar.png' ) %>"  alt="profile_img">
                            
                            
                             </span>
                            
                            <span class="clear"> <span class="block m-t-xs"> <center><strong class="font-bold">
                               
                                 <h4 ><%= current_user.email %></h4>
                                
                                 
                             </strong></center>
                           
                        </div>
                      </li>
                    
                            <li><%= link_to root_path do%><i class="fa fa-bar-chart" aria-hidden="true"></i> <span class="nav-label">Prehľad</span><%end%></li>
                            <li><%= link_to books_path do %><i class="fa fa-book" aria-hidden="true"></i> <span class="nav-label">Knihy</span><%end%></li>
                            <li><%= link_to wishlists_path do%><i class="fa fa-heart" aria-hidden="true"></i> <span class="nav-label">Wishlist</span><%end%></li>
                            <li><%= link_to authors_path do%><i class="fa fa-users" aria-hidden="true"></i> <span class="nav-label">Autori</span><%end%></li>
                            <li><%= link_to  publishers_path do %><i class="fa fa-print" aria-hidden="true"></i> <span class="nav-label">Vydavateľstvá</span><%end%></li>
                            <li><%= link_to users_path do%><i class="fa fa-user" aria-hidden="true"></i> <span class="nav-label">Užívatelia</span><%end%></li>
                                   
                            
                            
              

                       
                    
                   
                </ul>

            </div>
        </nav>